﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>Test</h1>
        Second commit text
        Third Commit text, should create new build automatically
        Fourth Commit
        Fifth Commit
    </div>
</body>
</html>
